<header class="index_header">		
    <div class="hlist">
        <img src="/assets/images/01_hot.png"/>
        <p>Hot Sale</p>				
    </div>
    <div class="hlist">
        <img src="/assets/images/02_Orders.png" />
        <p>Orders</p>				
    </div>
    <div class="hlist">
        <img src="/assets/images/03_pick.png"/>
        <p>Search</p>				
    </div>
</header>			

<div class="content">
    <div class="item">
        <h3 class="item_cate">Rice & Noodle</h3>
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="/assets/images/11_01.jpg" />
                    <p class="title">Peanut Noodle</p>						
                    <p class="price">$15</p>
                </div>		
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="/assets/images/11_02.jpeg" />
                    <p class="title">Rice w/ Beef</p>
                    <p class="price">$16</p>	
                </div>					
                
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/11_03.jpeg" />          
                    <p class="title">Roasted Meat</p>
                    <p class="price">$10</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/11_04.jpeg" />
                    <p class="title">Fried Noodle</p>
                    <p class="price">$10</p>
                </div>					
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/11_05.jpeg" />
                    <p class="title">Rice w/ Chicken</p>      
                    <p class="price">$15</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/11_06.jpeg" />  
                    <p class="title">Fried Noddle</p> 
                    <p class="price">$15</p>
                </div>				             
            </li>  
        </ul>       
    </div>

    <div class="item">
        <h3 class="item_cate">Pick for You</h3>
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="assets/images/22_01.jpeg" />
                    <p class="title">Chicken Wings</p>						
                    <p class="price">¥15</p>
                </div>		
            </li>
            
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/22_02.jpeg" />     
                    <p class="title">家乡扣肉</p>
                    <p class="price">$12</p>	
                </div>					
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/22_03.jpeg" />  
                    <p class="title">Shrimp Broccoli</p>
                    <p class="price">$18</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/22_04.jpeg" />
                    <p class="title">Shrimp Salad</p>
                    <p class="price">$16</p>
                </div>
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/22_05.jpeg" />
                    <p class="title">Fried Shrimp</p>
                    <p class="price">$16</p>				
                </div>	
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/22_06.jpeg" />
                    <p class="title">Chicken Nuts</p>
                    <p class="price">$15</p>
                </div>				              
            </li>
        </ul>
    </div>
    <div class="item">
        <h3 class="item_cate">Drinks</h3> 
        <ul class="item_list">
            <li>	
                <div class="inner">
                    <img src="assets/images/33_01.jpeg" />
                    <p class="title">Ice Coffee</p>						
                    <p class="price">$8</p>
                </div>		
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/33_02.jpeg" />
                    <p class="title">Limeades</p>
                    <p class="price">$9</p>	
                </div>					      
            </li>
            <li>
                <div class="inner">
                    <img class="item_img" src="assets/images/33_03.jpeg" />
                    <p class="title">Soft Drinks</p>
                    <p class="price">$6</p>				
                </div>	
            </li>
        </ul>  
    </div>
</div>

<div class="bg" id="bg">
</div>
