<div class="back"><a [routerLink]="['/home']"></a></div>
		<div class="p_content">		
			<div class="p_info">				
				<img src="assets/images/00_00.jpeg"/>				
				<h2>Peanut Noodle</h2>				
				<p class="price">$16</p>
			</div>
			<div class="p_detial">
				<h3>
					Details					
				</h3>
				<div class="p_content"> 
					<img src="assets/images/11_01.jpg"/>
					<br />
					<p>Red bell peppers, scallions, carrots, bean sprout, cilantro, peanuts, cucumbers, rice noodle and peanut source. 
Choose chicken or tofu or no protein.
					</p>
					
					<br />
					<p>Spice Level: No spice, Mild, Medium, Hot.
					</p>
				</div>
			</div>
		</div>
		
		
		<footer class="pfooter">
			
			<div class="cart">				
				<strong>Order:</strong>
				<div class="cart_num">
		          <div class="input_left">-</div>
		          <div class="input_center">
		              <input type="text"  readonly="readonly" value="1" name="num" id="num" />
		          </div>
		          <div class="input_right">+</div>				      
		        </div>								
			
			</div>
			<button class="addcart">Add to Cart</button>			
		</footer>
